.subir{
    margin-top: -65px;
}
.navColor{
    background-color:  #16161E;
 }
.cardColor{
   background-color:  #16161E;
}
.cardheaderColor{
    background-color: #100F15;
}
.btnCard{
    background-color: #FF7676;
}
body{
    background-color:#23232F;
}
.footerColor{
    background-color: #100F15;
}
